/* body {
    background: #212121;
    color: #666;
}

h1 {
    text-align: center;
    color: #fff;
}

.clearfix {
    clear: both;
}

#box {
    width: 350px;
    overflow: auto;
    margin: 40px auto;
    background: #666;
    padding-bottom: 40px;
    border-radius: 10px;
}

#message {
    background: #333;
    color: #fff;
}

#gameBoard li {
    float: left;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 50px;
    background: #333;
    color: #ccc;
    list-style: none;
    text-align: center;
    border-radius: 5px;
}

#gameBoard li:hover, #reset:hover {
    cursor: pointer;
    background: #000;
}

#reset {
    border: 0;
    background: #444;
    color: #fff;
    width: 70%;
    padding: 15px;
    border-radius: 5px;
}


footer {
    display: block;
    text-align: center;
    padding-top: 20px;
}*/
/* Header */
.app__header {
    height: var(--header-height);
    width: 100%;
    background-color: var(--primary-color);
}

.app__header-wrap {
    display: flex;
    align-items: center;
    height: var(--header-height);
}

.header__logo {
    height: calc(var(--header-height) - 10px);
    width: 184px;
    border-radius: 4px;
    overflow: hidden;
}

.logo-link {
    display: flex;
    text-decoration: none;
    height: 100%;
}

.logo-img {
    height: 100%;
}

.header__search {
    background-color: var(--white-color);
    margin-left: 24px;
    height: 28px;
    width: 300px;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
}

.header__search-input {
    border: none;
    outline: none;
    height: 100%;
    padding-left: 8px;
    font-size: 1.4rem;
    flex: 1;
}

.header__search-btn {
    border: none;
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 0;
    height: 100%;
    width: 40px;
    font-size: 1.6rem;
}

.header__search-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.navbar {
    margin-left: auto;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.navbar-item {
    position: relative;
    margin-left: 14px;
}

.navbar-item-link {
    font-size: 1.6rem;
    color: var(--white-color);
    text-decoration: none;
}

.navbar-item:hover a{
    color: rgba(255, 255, 255, 0.9);
}

.navbar-item:hover .header__noti {
    display: block;
}

.header__noti {
    width: 400px;
    height: 400px;
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in .2s;
}

.header__noti::before {
    content: "";
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -25px;
}

.header__noti::after {
    content: "";
    width: 100px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: 0;
}

.header__noti-heading {
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info:hover {
    /* color: rgba(255, 255, 255, 0.5); */
    opacity: 0.8;
    cursor: pointer;
}

.user-img {
    width: 32px;
    height: 32px;
    transform: translateY(-1px);
}

.user-name {
    color: var(--white-color);
    font-size: 1.6rem;
    margin-left: 4px;
}

/* Login form */
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}

/* Container */
.app__container {

}

.app__cont-heading {
    font-size: 2.6rem;
    color: var(--text-color);
    margin: 20px 0;
}

.background-dif {
    background-color: rgb(56, 182, 255, 0.1);
}

.rating {
    margin-top: 60px;
}

.rating__list {
    list-style: none;
    padding-left: 0;
    border: 2px solid var(--secondary-color);
}

.rating__item {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
}

.rating__item-ranking {
    width: 48px;
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 16px;
    display: flex;

}

.ranking-medal {
    margin-left: 8px;
}

.rating__item-avatar {
    height: 36px;
    width: 36px;
    border-radius: 4px;
}

.rating__item-user-name {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 8px;
}

.rating__item-mark {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-left: auto;
    margin-right: 8px;
}

.rating__item-mark-unit {
    font-size: 1.2rem;
}

.game__select {
    display: block;
    text-align: center;
    margin-top: 240px;
}

.game__main {
    width: 100%;
    height: 800px;
    margin-top: 20px;
}

#game-board{
    position: relative;
    margin-top: 50px;
}


#game__board {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding-left: 0;
    display: block;
    width: 800px;
    height: 800px;
}

.tic {
    float: left;
    margin: 2px;
    height: 36px;
    width: 36px;
    font-size: 3.2rem;
    font-weight: 500;
    background-color: var(--secondary-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 4, 255);
}

#game__board li:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.o {
    color: rgb(255, 115, 0) !important;
}

.x {
    color: rgb(0, 4, 255) !important;
}

/* Auth-form */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: var(--primary-color) solid 1px;
}

.auth-form__input:focus {
    border-color: #888;
}

.label-name {
    font-size: 4rem;
    color: var(--text-color);
    margin-top: 20px;
    display: block;
    margin-bottom: 12px;
}

.wrap-btn-enter-name {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
}

.auth-form__outside {
    margin-top: 16px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin: 80px 0 30px 0;
    display: flex;
    justify-content:flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__controls-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__socials {
    height: 50px;
    padding: 20px 36px;
    background-color: rgb(243, 236, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn.btn--with-icon {
    text-decoration: none;
}

.auth-form__socials-fb {
    background-color: rgb(6, 17, 148);
    color: var(--white-color);
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-title {
    margin: 0 36px;
    font-size: 1.2rem;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #888;
}

.auth-form__help-link.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__separate {
    display: block;
    height: 16px;
    color: #ccc;
    border-left: 1px solid #ccc;
    margin: 0 16px;
}

.label-win {
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
}

.label-win span {
    font-size: 5rem;
    color: var(--primary-color);
}

.btns_win {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
}

.label-lose {
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
}

.label-lose span {
    font-size: 5rem;
    color: red;
}

.strong {
    background-color: #00e0f0;
}

.guide {
    margin-top: 48px;
}

.guide-heading {
    font-size: 2.6rem;
    color: var(--text-color);
    margin-top: 32px;
    font-weight: 500;
}

.guide-description {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
}

/* Footer */

.app__footer {
    height: 100px;

}
